<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
    <div class="page-content">
        <h2 class="page-title title">Posts</h2>
        <ol class="post-list">
            <% postList.results.forEach(function(post) {%>
                <div class="post-detail">
                    <li>
                        <h3 class="title"><%= post.postedBy.username %></h3>
                        <img src="<%= post.imageUrl %>" alt="Post Image">
                        <p><%= post.message %></p>
                        <div class="like-button">
                            <% if (!post.likedBy.some(like => like?.id === 1) && !post.dislikedBy.some(dislike => dislike?.id === 1)) { %>
                                <form method="post"
                                action= "<%= `/posts/${post.id}/like/`%>">
                                
                                <button type="submit">&#128077; <%= post.likedBy.length %></button>
                            </form>
                            <form method="post" action= "<%= `/posts/${post.id}/dislike/` %>">
                                <button type="submit">&#128078; <%= post.dislikedBy.length %></button>
                            </form> 
                            
                            <% } %>
                            <p><%= format(post.createdAt, "yyyy-MM-dd") %></p>
                        </div>
                    </li>
                </div>
            <% }); %>
        </ol>
    </div>
    <div class="next-previous">
        <%if (postList.previous) { %>
            <a href="<%= postList.previous %>">Previous</a>
        <% } %>
        <%if (postList.next) { %>
            <a href="<%= postList.next %>">Next</a>
        <% } %>
    </div>
</body>
<%- include('_footer') -%>
</html>