<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>

<h1>Posts</h1>
<ol>
    <% postList.results.forEach(function(post) {%>
        <li>
            <h2><%= post.message %></h2>
            <h3><%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss") %></h3>
            <img style='width: 100px' src="<%= post.imageUrl %>" alt="Post Image">
            <h4><%= post.postedBy.username %></h4>
            
            <h4>Like Count = <%= post.likedBy.length %></h4>
            <h4>Dislike Count = <%= post.dislikedBy.length %></h4>

            <% if (!post.likedBy.some(like => like?.id === 1) && !post.dislikedBy.some(dislike => dislike?.id === 1)) { %>
                <form method="post"
                action= "<%= `/posts/${post.id}/like/`%>">
                <button type="submit">LIKE</button>
                </form>
                <form method="post" action= "<%= `/posts/${post.id}/dislike/` %>">
                    <button type="submit">DISLIKE</button>
                </form> 
                                
            <% } %>
        </li>
    <% }); %>
</ol>
<%if (postList.next) { %>
    <a href="<%= postList.next %>">Next</a>
<% } %>
<%if (postList.previous) { %>
    <a href="<%= postList.previous %>">Previous</a>
<% } %>
</body>
<%- include('_footer') -%>
</html>