<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
    <div class="page-content">
        <h2 class="page-title">Users</h2>
        <ol class="user-list">
            <% results.forEach(function(user) {%>
                <div class="user-detail">
                    <li>
                        <a href="<%= `/users/${user.id}` %>">
                        <h3 class="title"><%= user.username %></h3>
                        <img src="<%= user.profileImageUrl %>" alt="User Image">
                        </a>
                       
                    </li>
                </div>
            <% }); %>
        </ol>
    </div>
    <div class="next-previous">
        <%if (previous) { %>
            <a href="<%= previous %>">Previous</a>
        <% } %>
        <%if (next) { %>
            <a href="<%= next %>">Next</a>
        <% } %>
    </div>
</body>
<%- include('_footer') -%>
</html>