<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h2 class="page-title">Users</h2>
<ol>
    <% results.forEach(function(user) {%>
        <li>
            <h3><%= user.username %></h3>
            <img style='width: 100px' src="<%= user.profileImageUrl %>" alt="User Image">
            <!-- link to page that displays all user's posts -->
        </li>
    <% }); %>
</ol>
<%if (next) { %>
    <a href="<%= next %>">Next</a>
<% } %>
<%if (previous) { %>
    <a href="<%= previous %>">Previous</a>
<% } %>
</body>
<%- include('_footer') -%>
</html>